@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body{
    background-color: #212121;
    color:#fff;
    te
}
.header{
    display: flex;
    background-color: aqua;
    padding: 20px ;
    padding-right: 2vw;
    justify-content: flex-end;
    gap: 20px;

}
a{
    text-decoration: none;
}
.header-link{
    padding: 10px;
    font-size: 30px;
    
}